In [3]:
from datetime import datetime
import pandas as pd

fecha_nacimiento = datetime.strptime('1994-03-01', '%Y-%m-%d')
edad_de_jubilacion = 65

salario_liquido = 2500000
salario_bruto = 2983813
monto_ahorrado = 8403740 #5018141

In [4]:
import re
import requests
from bs4 import BeautifulSoup
import re

url = r'https://www.spensiones.cl/apps/rentabilidad/getRentabilidad.php?tiprent=FP'
r = requests.get(url)

soup = BeautifulSoup(r.text, 'html.parser')

# Create a list of tables looking for class 'table'
tables = soup.find_all('table', {'class': 'table'})

# # Read the first table as a pandas dataframe
# df = pd.read_html(str(tables[1]))[0]
# print(df.columns[0][0])

# Dictionary by fund type and name
dict_returns = {'Fondo A': {'CAPITAL': None, 'CUPRUM': None, 'HABITAT': None, 'MODELO': None, 'PLANVITAL': None, 'PROVIDA': None, 'UNO': None, 'SISTEMA': None}, 
                'Fondo B': {'CAPITAL': None, 'CUPRUM': None, 'HABITAT': None, 'MODELO': None, 'PLANVITAL': None, 'PROVIDA': None, 'UNO': None, 'SISTEMA': None}, 
                'Fondo C': {'CAPITAL': None, 'CUPRUM': None, 'HABITAT': None, 'MODELO': None, 'PLANVITAL': None, 'PROVIDA': None, 'UNO': None, 'SISTEMA': None}, 
                'Fondo D': {'CAPITAL': None, 'CUPRUM': None, 'HABITAT': None, 'MODELO': None, 'PLANVITAL': None, 'PROVIDA': None, 'UNO': None, 'SISTEMA': None}, 
                'Fondo E': {'CAPITAL': None, 'CUPRUM': None, 'HABITAT': None, 'MODELO': None, 'PLANVITAL': None, 'PROVIDA': None, 'UNO': None, 'SISTEMA': None}}

# Fill the dictionary with the values from each fund for 'Últimos 12 meses Dic 2022-Nov 2023'
for table in tables[1:]:
    df = pd.read_html(str(table))[0]

    # Capture the fund type using re from the first column
    match = re.search(r'TIPO ([A-E])', df.columns[0][0])
    fund_type = match.group(1) if match else None

    if fund_type:
        fund_name = f"Fondo {fund_type}"
        # Set the first column as the index
        df.set_index(df.columns[0], inplace=True)

        for afp in df.index:
            if afp in dict_returns[fund_name].keys():
                dict_returns[fund_name][afp] = df.loc[afp, df.columns[2]]
                
df_returns = pd.DataFrame(dict_returns)
df_returns

C:\Users\nicol\AppData\Local\Temp\ipykernel_19736\3662370702.py:27: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\nicol\AppData\Local\Temp\ipykernel_19736\3662370702.py:27: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\nicol\AppData\Local\Temp\ipykernel_19736\3662370702.py:27: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\nicol\AppData\Local\Temp\ipykernel_19736\3662370702.py:27: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]
C:\Users\nicol\AppData\Local\Temp\ipykernel_19736\3662370702.py:27: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_html(str(table))[0]

          Fondo A Fondo B Fondo C Fondo D Fondo E
CAPITAL    16,95%  12,93%   5,89%  -1,58%  -4,10%
CUPRUM     17,32%  13,20%   5,68%  -1,54%  -4,13%
HABITAT    17,36%  13,22%   5,67%  -1,89%  -4,19%
MODELO     18,08%  13,90%   6,09%  -1,37%  -4,16%
PLANVITAL  17,60%  13,72%   6,06%  -1,51%  -4,19%
PROVIDA    17,19%  12,98%   5,37%  -1,92%  -4,51%
UNO        17,86%  13,67%   5,98%  -1,38%  -3,95%
SISTEMA    17,31%  13,27%   5,69%  -1,76%  -4,21%

In [5]:
df_returns_enriched = df_returns.copy()

# Convert all values from a string like '1,23%' to a float like 0.0123
for column in df_returns_enriched.columns:
    df_returns_enriched[column] = df_returns_enriched[column].str.replace('%', '')\
        .str.replace(',', '.').astype(float) / 100

In [6]:
comisiones = {'CAPITAL': 0.0144, 'CUPRUM': 0.0144, 'HABITAT': 0.0127, 'MODELO': 0.0058,
              'PLANVITAL': 0.0116, 'PROVIDA': 0.0145, 'UNO': 0.0049}

df_returns_enriched

           Fondo A  Fondo B  Fondo C  Fondo D  Fondo E
CAPITAL     0.1695   0.1293   0.0589  -0.0158  -0.0410
CUPRUM      0.1732   0.1320   0.0568  -0.0154  -0.0413
HABITAT     0.1736   0.1322   0.0567  -0.0189  -0.0419
MODELO      0.1808   0.1390   0.0609  -0.0137  -0.0416
PLANVITAL   0.1760   0.1372   0.0606  -0.0151  -0.0419
PROVIDA     0.1719   0.1298   0.0537  -0.0192  -0.0451
UNO         0.1786   0.1367   0.0598  -0.0138  -0.0395
SISTEMA     0.1731   0.1327   0.0569  -0.0176  -0.0421

In [7]:
dict_calc = {afp: {'Fondo': None, 'Comisión %': None, 'Rentabilidad %': None,
                   'Comisiones': None, 'Rentabilidad': None, 'Saldo': None}
                   for afp in comisiones.keys()}

for afp, calc in dict_calc.items():
    # Find the best results for this AFP
    best_results = max(df_returns_enriched.loc[afp])

    # Find the column for the max value of each row
    best_fund = df_returns_enriched.loc[afp].idxmax()

    calc['Fondo'] = best_fund
    calc['Comisión %'] = comisiones[afp]
    calc['Rentabilidad %'] = best_results

    # Next 3 months projection
    calc['Comisiones'] = (comisiones[afp] * salario_bruto) * 3

    rent_01 = best_results * monto_ahorrado
    rent_02 = best_results * (monto_ahorrado + rent_01)
    rent_03 = best_results * (monto_ahorrado + rent_01 + rent_02)
    calc['Rentabilidad'] = rent_01 + rent_02 + rent_03

    calc['Saldo'] = calc['Rentabilidad'] - calc['Comisiones']

    # Transpose the following dataframe
df_decide = pd.DataFrame(dict_calc)

# Transpose the dataframe
df_decide = df_decide.T

df_decide.sort_values(by='Saldo', ascending=False)

,Fondo,Comisión %,Rentabilidad %,Comisiones,Rentabilidad,Saldo
MODELO,Fondo A,0.0058,0.1808,51918.3462,5431976.065678,5380057.719478
UNO,Fondo A,0.0049,0.1786,43862.0511,5354786.281311,5310924.230211
PLANVITAL,Fondo A,0.0116,0.176,103836.6924,5263932.778762,5160096.086362
HABITAT,Fondo A,0.0127,0.1736,113683.2753,5180423.808085,5066740.532785
CUPRUM,Fondo A,0.0144,0.1732,128900.7216,5166538.803564,5037638.081964
PROVIDA,Fondo A,0.0145,0.1719,129795.8655,5121477.889101,4991682.023601
CAPITAL,Fondo A,0.0144,0.1695,128900.7216,5038550.786322,4909650.064722

In [8]:
# Transpose the following dataframe
df_decide = pd.DataFrame(dict_calc)

# Transpose the dataframe
df_decide = df_decide.T

df_decide.to_excel('decide.xlsx')

In [11]:
# url = r'https://www.spensiones.cl/apps/estcom/estcom.php'
# r = requests.get(url)

# soup = BeautifulSoup(r.text, 'html.parser')

# # Create a list of tables looking for class 'table'
# table = soup.find_all('table', {'class': 'table '})
# print(soup.prettify())

# # Read the first table as a pandas dataframe
# df = pd.read_html(str(table))